<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <form action="" method="post" name="myform">
        {% csrf_token %} <!-- 보안키값 : 외부에서 함부로 못 둘어오게-->
        title : <input type="text" name="title" id=""><br/>
        writer : <input type="text" name="writer" id=""><br/>
        contents : <input type="text" name="contents" id=""><br/>
        <button type="button" id="btnSubmit" >등록</button>
    </form>
</body>
</html>
<script>
    window.onload=function()
    {
        btnSubmit = document.getElementById("btnSubmit");
        btnSubmit.addEventListener("click", ()=>{
            //자바스크립트로 위에 form태그 객체를 가져와야한다. 
            var frm = document.myform;
            frm.action="/guestbook/save"; //서버측 url을 줘야 한다 
            frm.submit(); //전송 
        });
    }
</script>


